<h3>Add New User</h3>
<form [formGroup]="userFormData" 
      (ngSubmit)="addUser()"
      autocomplete="off">
<div class="grid p-fluid">
    <div class="col-12 md:col-6">
        <label for="firstName" class="block">Firs Name</label>
        <input id="firstName" 
               type="username" 
               formControlName="firstName"
               aria-describedby="firstName-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('firstName')}"
               pInputText />
        <small id="firstName-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('firstName')">First Name is required with a minimum of 3 carateres.</small>
    </div>
    
    <div class="col-12 md:col-6">
        <label for="lastName" class="block">Last Name</label>
        <input id="lastName" 
               type="username" 
               formControlName="lastName"
               aria-describedby="lastName-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('lastName')}"
               pInputText />
        <small id="lastName-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('lastName')">Last Name is required with a minimum of 3 carateres.</small>
    </div>
    
    <div class="col-12 md:col-6">
        <label for="email" class="block">Email</label>
        <input id="email" 
               type="email" 
               formControlName="email"
               aria-describedby="email-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('email')}"
               pInputText />
        <small id="email-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('email')">Email must be valid and required.</small>
    </div>
    
    <div class="col-12 md:col-6">
        <label for="carrier" class="block">Corrier</label>
        <input id="carrier" 
               type="text" 
               formControlName="carrier"
               aria-describedby="carrier-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('carrier')}"
               pInputText />
        <small id="carrier-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('carrier')">Username is not available.</small>
    </div>

    <div class="col-12 md:col-9">
        <label for="address" class="block">Address</label>
        <input id="address" 
               type="text" 
               formControlName="address"
               aria-describedby="address-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('address')}"
               pInputText />
        <small id="address-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('address')">Username is not available.</small>
    </div>

    <div class="col-12 md:col-3">
        <label for="birthDate">DateFormat</label>
        <p-calendar [(ngModel)]="date2" 
                    dateFormat="mm-dd-yy" 
                    formControlName="birthDate"
                    [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('birthDate')}"
                    inputId="birthDate"></p-calendar>
    </div>
    
    <div class="col-12 md:col-4">
        <label for="city" class="block">City</label>
        <input id="city" 
               type="text" 
               formControlName="city"
               aria-describedby="city-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('city')}"
               pInputText />
        <small id="city-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('city')">Username is not available.</small>
    </div>
    
    <div class="col-12 md:col-4">
        <label for="country" class="block">Country</label>
        <input id="country" 
               type="text" 
               formControlName="country"
               aria-describedby="country-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('country')}"
               pInputText />
        <small id="country-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('country')">Username is not available.</small>
    </div>
    
    <div class="col-12 md:col-4">
        <label for="zip" class="block">ZIP Code</label>
        <input id="zip" 
               type="number" 
               formControlName="zip"
               aria-describedby="zip-help" 
               [ngClass]="{'ng-dirty ng-invalid': fieldIsInvalid('zip')}"
               pInputText />
        <small id="zip-help" 
               class="p-error block"
               *ngIf="fieldIsInvalid('zip')">Username is not available.</small>
    </div>

    <div class="flex-1 flex justify-content-end align-content-end my-3 mr-5">
        <p-button type="submit" 
                  label="Click" 
                  [disabled]="userFormData.invalid"
                  icon="pi pi-check" 
                  iconPos="right"></p-button>
    </div>
    
</div>
</form>
<app-user-list></app-user-list>
